<div>
  <h4>Actions</h4>
  <div>
    <%= link_to "View Details", admin_event_path(event) %>
  </div>
  <div>
    <%= link_to "Edit", edit_admin_event_path(event) %>
  </div>
  <div>
    <% if event.published %>
    <%= button_to "Unpublish", unpublish_admin_event_path(event), method: :patch, data: {
        turbo_confirm: "Remove this event from the public listing and revert to a draft status. Are you sure?"
        } %>
    <% else %>
    <%= button_to "Publish", publish_admin_event_path(event), method: :patch, data: {
        turbo_confirm: "Publishing makes this event visible on the public events page. Are you sure?"
        } %>
    <% end %>
  </div>
  <div>
    <%= button_to "Delete", admin_event_path(event), method: :delete, data: { turbo_confirm: "Are you sure?" }, form: { class: "delete-btn" } %>
  </div>
</div>
