<h1>Admin: Events</h1>
<% if @events.empty? %>
<div>
  <p>
    Nothing on the calendar yet!
    <%= link_to "Create your first event", new_admin_event_path %>
  </p>
</div>
<% else %>
<div>
  <p>
    All events, including prior and draft events, are listed here.
  </p>
  <p>
    Click "Edit" to update event details
    and "Publish" to make an event available on the public events page.
    <br>
    "Unpublish" removes an event public events page,
    while "Delete" will remove the event entirely (be careful!).
  </p>
    You can click here to
    <%= link_to "Create a New Event", new_admin_event_path %>.
  </p>
</div>
<h2>All Events</h2>
<% @events.each do |event| %>
<div class="event-row">
  <div class="event-main">
    <div class="event-header">
      <h3><%= event.title %></h3>
      <div class="event-published-badge">
        <% if event.published? %>
          Published
        <% else %>
          Draft
        <% end %>
      </div>
    </div>
    
    <% if event.location? %>
    <p><%= event.location %></p>
    <% end %>
    
    <p>
      <%= event.start_time.strftime('%A, %B %d, %Y | %I:%M %p') %>
      <% if event.end_time? %>
      <br>
      <%= event.end_time.strftime('%A, %B %d, %Y | %I:%M %p') %>
      <% end %>
    </p>
  </div>
  
  <div class="event-actions">
    <%= render "event_action_card", event: event %>
  </div>
</div>
<% end %>
<% end %>
