<h1>Events</h1>
<p>Administrative dashboard: Events</p>
<div>
  <%= link_to "New Event", new_admin_event_path %>
</div>

<% @events.each do |event| %>
<div>
  <div>
    <h2><%= event.title %></h2>
    
  </div>
  <div>
    <% if event.location? %>
    <p>
      <%= event.location %>
    </p>
    <% end %>
    <p>
      <%= event.start_time.strftime('%A, %B %d, %Y | %I:%M %p') %>
      <% if event.end_time? %>
        <br>
        <%= event.end_time.strftime('%A, %B %d, %Y | %I:%M %p') %>
      <% end %>
    </p>
  </div>
  <div>
    <h4>Actions</h3>
    <%= link_to "View Details", admin_event_path(event) %>
    <%= link_to "Edit", edit_admin_event_path(event) %>
    <a href="#">Publish</a>
    <br>
    <%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
<% end %>
