<h1>Event Details</h1>
<div class="event-row">
  <div class="event-main">
    <div class="event-header">
      <h2><%= @event.title %></h2>
      <div class="event-published-badge">
        <% if @event.published? %>
          Published
        <% else %>
          <i>Draft</i>
        <% end %>
      </div>
           
    </div>

    <p>
    <% if @event.description? %>
      <%= @event.description %>
    <% else %>
      <i>No description.</i>
    <% end %>
    </p>
    
    <p>
    <% if @event.location? %>
      <%= @event.location %>
    <% else %>
      <i>No location.</i>
    <% end %>
    </p>

    <p>
      <%= @event.start_time.strftime('%A, %B %d, %Y | %I:%M %p') %>
      <% if @event.end_time? %>
        <br>
        <%= @event.end_time.strftime('%A, %B %d, %Y | %I:%M %p') %>
      <% end %>
    </p>
  </div>

  <div class="event-actions">
    <%= render "event_action_card", event: @event %>
  </div>
</div>
