<h1><%= @event.title %></h1>

<h2>Description</h2>
<p>
  <%= @event.description %>
</p>

<h2>Details</h2>
<% if @event.location? %>
<p>
  <%= @event.location %>
</p>
<% end %>
<p>
  <%= @event.start_time.strftime('%A, %B %d, %Y | %I:%M %p') %>
  <% if @event.end_time? %>
  <br>
  <%= @event.end_time.strftime('%A, %B %d, %Y | %I:%M %p') %>
  <% end %>
</p>

<%= button_to "Publish", publish_admin_event_path(@event), method: :patch %>
<%= link_to "Back", admin_events_path %>
